.carousel-control-next-icon:after, .carousel-control-prev-icon:after {
  content: "";
}

.edu-menu {
  padding: 16px;
  &-container {
    padding: 12px 24px;
    background: red;
    border-radius: 16px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
  }

  .menu-container {
    padding: 8px 20px;
    margin: 0 16px;
  }

  .menu-container:hover {
    background-color: lightblue;
    border-radius: 8px;
    cursor: pointer;
  }

  .menu-container > span {
    font-weight: 600;
    font-size: 16px;
  }

  .logo {
    width: 56px;
    height: 56px;
    margin: 0 32px;
  }
}

.documents-prepare {
  margin-bottom: 128px;
  > span {
    color: #022e4f;
    font-size: 28px;
    font-weight: 400;
  }
}

.documents-info {
  &-container {
    padding: 16px;
    width: 250px;
    box-shadow: 0 8px 40px rgba(202,211,225,.24);
    margin: 0 20px;
    border-radius: 16px;
    position: relative;
  }

  .icon {
    width: 70px;
    height: 70px;
    position: absolute;
    top: -45px;
    left: 90px;
  }

  .info-1 > li{
    text-align: left;
    list-style-image : url('../../../assets/icons/icon-check.svg');
  }

  .info-2 > li {
    text-align: left;
    margin-left: 20px;
  }

  .info-2 > li::marker {
    color: #ff990a;
  }

}