<div class="text-center">

  <div style="width: 100%; padding: 20px 400px;">
    <div id="carouselExampleControls" class="carousel slide" data-mdb-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://mdbootstrap.com/img/new/slides/041.jpg" class="d-block w-100">
        </div>
        <div class="carousel-item" *ngFor="let item of bannerList">
          <img [src]="item.src" [alt]="item.title">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleControls" data-mdb-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleControls" data-mdb-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class="edu-menu">
    <div class="d-flex justify-content-center">
      <div class="d-flex edu-menu-container">
        <div class="menu-container" *ngFor="let item of eduMenuList">
          <img [src]="item.icon" [alt]="item.title" class="logo"> <br>
          <span>{{ item.title }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="documents-prepare">
    <span>Dokumen yang harus kamu siapkan</span>
  </div>

  <div class="documents-info">
    <div class="d-flex justify-content-center">
      <div class="documents-info-container" *ngFor="let data of eduDocuments">
        <img [src]="data?.icon" [alt]="data?.icon" class="icon">
        <div class="mt-3">
          <span>{{ data.title }}</span>
        </div>
        <ul class="mt-3 info-1" *ngFor="let info1 of data?.documents1">
          <li>{{ info1 }}</li>
        </ul>
        <ul class="info-2" *ngFor="let info2 of data?.documents2">
          <li>{{ info2 }}</li>
        </ul>
        <ul class="info-1" *ngFor="let info3 of data?.documents3">
          <li>{{ info3 }}</li>
        </ul>
      </div>
    </div>
  </div>

</div>