<div class="top-bar d-flex justify-content-between">
  <div>
    <img src="../../assets/images/edufund-logo.svg" alt="edufund-logo" class="logo">
  </div>
  <div>
    <a [routerLink]="['/home']" routerLinkActive="active">Beranda</a>
    <a [routerLink]="['/procedure']" routerLinkActive="active">Cara Kerja</a>
    <a [routerLink]="['/how-to-buy']" routerLinkActive="active">Cara Bayar</a>
    <a [routerLink]="['/about-us']" routerLinkActive="active">Tentang Kami</a>
    <a [routerLink]="['/contact-us']" routerLinkActive="active">Hubungi Kami</a>
  </div>
  <div>
    <a>TKB90 97.22%</a>
    <a [routerLink]="['']" class="btn-sign-in">Masuk</a>
    <a [routerLink]="['']" class="btn-sign-up">Daftar</a>
  </div>
</div>