.top-bar {
  padding: 16px;

  .logo {
    width: 100px;
    height: 30px;
  }

  a {
    margin: 0 12px 0 12px;
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  a.active {
    color: #ff9700;
    font-weight: 700;
  }

  .btn-sign-in {
    color: #ff9700;
    font-weight: 600;
  }

  .btn-sign-up {
    background-color: #ff9700;
    color: #ffffff;
    padding: 6px 12px;
    border-radius: 16px;
    font-weight: 600;
  }
}